<div class="row">
<form class="form col-md-2" name="form">
<div class="form-group">
  <label for="city">City</label>
  <input type="text" class="form-control" id="city" ng-model="query.city" required="true" />
</div>
<div class="form-group">
  <label for="radius">Radius</label>
  <input type="number" min="0" integer class="form-control" id="radius" ng-model="query.radius" />
</div>
<div class="form-group">
  <label for="minpop">Population from</label>
  <input type="number" min="0" integer class="form-control" id="minpop" ng-model="query.minpop" />
</div>
<div class="form-group">
  <label for="maxpop">Population to</label>
  <input type="number" min="0" integer class="form-control" id="maxpop" ng-model="query.maxpop" />
</div>
  <input class="btn btn-success"  ng-disabled="!MainCtrl.showMap" type="submit" ng-click="MainCtrl.onSubmit(query)" ng-href="#/" value="Submit query"/>
</form>
<div class="col-md-10">
  <div ng-show="!MainCtrl.showMap" class="timer-loader" z-index="100000"></div>
  <div ui-map="MainCtrl.myMap" ui-options="MainCtrl.mapOptions" ng-class="{map:MainCtrl.showMap}"></div>
</div>
</div>


